name: Release pip package

on:
  workflow_dispatch:
    inputs:
      version:
        description: "Semantic version"
        required: true

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install requirements
        run: pip install twine wheel
      - name: Create wheel
        env:
          PACKAGE_VERSION: ${{ github.event.inputs.version }}
        run: python setup.py bdist_wheel
      - name: Upload wheel
        run: twine upload dist/* -u __token__ -p '${{ secrets.PYPI_PASSWORD }}'
      - uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          prerelease: false
          title: v${{ github.event.inputs.version}}
          files: dist/*
          automatic_release_tag: v${{ github.event.inputs.version }}
